html {
    height: 100%;
    font-family: 'Helvetica Neue', sans-serif;
    color: #4c4c4c;
}

body {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 1em;
}
#app {
    flex: 1 0 auto;
    width: 100%;
}
